.homePage {
  background-color: #004F44;
  padding: 150px 0 60px 0;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

.contentWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.textContainer {
  max-width: 420px;
}

.title {
  font-family: 'Chillax-Medium';
  font-weight: 500;
  font-size: 64px;
  margin: 0 0 30px 0;
}

.mainText {
  font-size: 16px;
  margin: 0 0 30px 0;
}

.btnContainer {
  display: flex;
  align-items: center;
}

.showBtn {
  width: 155px;
  height: 60px;
  font-size: 16px;
  margin: 0 40px 0 0;
  -webkit-box-shadow: 10px 10px 73px -11px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 10px 10px 73px -11px rgba(0, 0, 0, 0.45);
  box-shadow: 10px 10px 73px -11px rgba(0, 0, 0, 0.45);
}

.exploreLink {
  display: flex;
  color: #EFF7F5;
}

.exploreLinkText {
  margin: 0 10px 0 0;
}

.gallery {
  display: grid;
  gap: 5px;
  grid-template: repeat(2, minmax(100px, 260px)) / repeat(3, minmax(100px, 220px))
}

.galleryItemBig {
  grid-column: span 2;
  grid-row: span 2;
}
