# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.module.css
.module.css.map
.css.map
/src/Components/Pages/BasketPage/BasketPage.module.css.map
/src/Components/Pages/BasketPage/BasketPage.module.css
/src/Components/Header/Header.module.css
/src/Components/Header/Header.module.css.map
/src/Components/Header/SubMenu/SubMenu.module.css
/src/Components/Header/SubMenu/SubMenu.module.css.map
/src/Components/Pages/SearchPage/SearchPage.module.css
/src/Components/Pages/SearchPage/SearchPage.module.css.map
/src/Components/Pages/PersonalPage/PersonalPage.module.css
/src/Components/Pages/PersonalPage/PersonalPage.module.css.map
/src/Components/Header/IconsList/IconsList.module.css
/src/Components/Header/IconsList/IconsList.module.css.map
/src/Components/Header/Menu/Menu.module.css
/src/Components/Header/Menu/Menu.module.css.map
/.idea/prettier.xml
/src/Components/Layout/Layout.module.css
/src/Components/Layout/Layout.module.css.map
/src/Components/UX/Card/Card.module.css
/src/Components/UX/Card/Card.module.css.map
