.wrapper {
  padding: 86px 0 25px;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.inner {
  flex-grow: 1;
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 60px 0;
  color: #004F44;
}

.cardsWrapper {
  justify-content: center;
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 280px));
  grid-template-rows: repeat(auto-fit, auto);
}


.header {
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
}

.showFlowerGallery {
  font-size: 24px;
  line-height: 29px;
}

.loadBtnWrapper {
  margin: 40px 0 0;
  display: flex;
  justify-content: center;
}