.wrapper {
  padding: 50px 0 0 0;
  font-size: 1em;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;
}

.header {
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  color: #004F44;
}

.showFlowerGallery {
  font-size: 1.5em;
  line-height: 29px;
  color: #004F44;
}

.sliderWrapper {
  padding: 0 15px;
}

.slider {
  color: #004F44;
}

:global {
  .slick-slide > div {
    margin: 0 10px;
  }

  .slick-list {
    margin: 0 -10px;
  }

  .slick-prev:before, .slick-next:before {
    color: #004F44 !important;
  }
}

.loadBtnWrapper {
  display: flex;
  justify-content: center;
  margin: 40px 0 0;
}

