.homePage {
  background-color: #004F44;
  padding: 150px 0 60px 0;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.contentWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.textContainer {
  max-width: 420px;
  width: 50%;
}

.title {
  font-family: 'Chillax-Medium';
  font-weight: 500;
  font-size: 64px;
  margin: 0 0 30px 0;
}

.mainText {
  font-size: 16px;
  margin: 0 0 30px 0;
}

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.exploreLink {
  display: flex;
  color: #EFF7F5;
}

.exploreLinkText {
  margin: 0 10px 0 0;
}

.galleryWrapper {
  position: relative;
  width: 50%;

  &:before {
    content: "";
    display: block;
    width: 100%;
    padding: 0 0 90% 0;
  }
}

.gallery {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  gap: 1%;
  grid-template: repeat(2, 49.5%) / repeat(3, 33%);
}

.galleryItemBig {
  grid-column: span 2;
  grid-row: span 2;
}


