.homePage {
  background-color: #004F44;
  padding: 150px 0 60px 0;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.contentWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 896px) {
    flex-direction: column;
    gap: 64px;
  }
}

.textContainer {
  max-width: 420px;
  width: 50%;

  @media (max-width: 896px) {
    width: 100%;
    max-width: 564px;
  }
}

.title {
  font-family: 'Chillax-Medium';
  font-weight: 500;
  font-size: 64px;
  margin: 0 0 1em 0;
}

.mainText {
  font-size: 1.2em;
  margin: 0 0 1em 0;
}

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.exploreLink {
  display: flex;
  color: #EFF7F5;

  @media (max-width: 896px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}

.exploreLinkText {
  margin: 0 10px 0 0;
}

.arrow {
  @media (max-width: 896px) {
    transform: rotate(90deg);
  }
}

.galleryWrapper {
  position: relative;
  width: 50%;

  @media (max-width: 896px) {
    width: 80%;
  }

  &:before {
    content: "";
    display: block;
    width: 100%;
    padding: 0 0 90% 0;
  }
}

.overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -300%;
    top: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
}

.gallery {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  gap: 1%;
  grid-template: repeat(2, 49.5%) / repeat(3, 33%);
}

.galleryItem {
    @media (max-width: 600px) {
        display: none;
    }
}

.galleryItemBig {
  grid-column: span 2;
  grid-row: span 2;

  @media (max-width: 600px) {
          grid-column: span 3;
            grid-row: span 2;
      }
}




