.wrapper {
  padding: 80px 0 60px;
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 60px 0;
  color: #004F44;
}

.cards {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(480px, 1fr));
}

.flexContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 55px 0;
}

.header {
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
}

.showFlowerGallery {
  font-size: 24px;
  line-height: 29px;
}

.loadMoreBtn {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 40px auto 0;
  width: 155px;
  height: 60px;
  background-color: #004F44;
  color: #fff;

  &:hover .btnDecorationTop {
    transform: scale(1.4) rotate(0);
  }

  &:hover .btnDecorationBottom {
    transform: scale(1.4) rotate(180deg);
  }
}

.btnDecorationTop {
  position: absolute;
  left: 7%;
  top: 0;
  transform-origin: right top;
  transform: rotate(90deg);
  font-size: 25px;
  transition: linear .3s;
  color: #fff;
}

.btnDecorationBottom {
  position: absolute;
  right: -16%;
  bottom: -40%;
  transform-origin: left top;
  font-size: 25px;
  transform: rotate(90deg);
  transition: linear .3s;
  color: #fff;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}