.header {
  background-color: #004F44;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;

  @media(max-width: 896px) {
    display: none;
  }
}

.menuItem {
  margin: 0 50px 0 0;

  &:hover {
    .homeMenuContent {
      opacity: 1;
      transform: scale(1, 1);
      transition: all 0.3s linear;
      pointer-events: auto;
    }
  }
}

.menuLink {
  padding: 10px 0;
  position: relative;
  color: #fff;
  display: block;
  margin: 0;

  &:last-child {
    margin: 0;
  }

  &::after {
    content: '';
    z-index: 2;
    display: block;
    position: absolute;
    bottom: -4px;
    width: 100%;
    height: 2px;
    transform: scale(0);
    transform-origin: left;
    transition: all 0.3s;
    background-color: #fff;
  }

  &:hover:after {
    transform: scale(1);
  }

  a {
    color: white;
  }
}

.homeMenuContent {
  position: absolute;
  top: 100%;
  left: 0;
  transform: scale(1, 0);
  transform-origin: top;
  opacity: 0;
  transition: all 0.3s linear;
}

:global {
  .active {
    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: -4px;
      width: 100%;
      height: 2px;
      transform: scale(1);
      transform-origin: left;
      transition: all 0.3s;
      background-color: #fff;
    }
  }
}

.homeMenuLinkFlex {
  display: flex;
  align-items: center;
}

.homeLinkArr {
  position: relative;
  transition: all 0.3s linear;
  font-size: 1em;
  margin: 0 0 0 5px;
}

.homeLink {
  position: relative;

  &:hover {
    .homeLinkArr {
      transform: rotate(180deg);
    }
  }
}

.homeLinkArrActiveMob {
  position: relative;

  .homeLinkArr {
    transform: rotate(180deg);
  }
}

.subMenuActiveMob {
  pointer-events: auto;
  opacity: 1;
  transform: scale(1, 1);
}

.burger {
  padding: 10px 0;
  z-index: 4;
  display: none;

  @media(max-width: 896px) {
    display: block;
  }

  span {
    display: block;
    position: relative;
    width: 35px;
    height: 2px;
    background-color: #fff;
    transition: all 0.3s linear;

    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      background-color: #fff;
      position: absolute;
      left: 0;
      top: 10px;
      transition: all 0.3s linear;
    }

    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      background-color: #fff;
      position: absolute;
      left: 0;
      bottom: 10px;
      transition: all 0.3s linear;
    }
  }
}

.active {
  span {
    background-color: rgba(0, 0, 0, 0);

    &:before {
      top: 0;
      transform: rotate(45deg);
    }

    &:after {
      opacity: 1;
      bottom: 0;
      transform: rotate(-45deg);
    }
  }
}

.burgerList {
  position: fixed;
  left: -100px;
  top: 0;
  padding: 140px 100px 70px;
  background-color: #004F44;
  z-index: 3;
  transform: scale(0, 1);
  opacity: 0;
  transform-origin: left;
  transition: all 0.3s linear;
}

.burgerListActive {
  transform: scale(1, 1);
  transform-origin: left;
  opacity: 1;
  left: 0;
}

.burgerListItem {
  font-size: 1.7em;
  margin: 0 0 40px 0;
}

.blackout {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;

  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  height: 300vh;
  pointer-events: none;
  transition: all 0.3s linear;
}

.blackoutActive {
  z-index: 2;
  opacity: 1;
  pointer-events: auto;
}

.iconsPanel {
  width: 150px;

  a {
    margin: 0 0 0 20px;
    color: white;

    &:first-child {
      margin: 0;
    }
  }
}

.icon {
  font-size: 1.2em;
  transition: all 0.2s;

  &:hover {
    font-size: 1.35em;
  }
}
