.basketBody {
  align-items: center;
}

.img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imgWrapper {
  width: 100%;
  position: relative;
  padding: 0 0 133% 0;
  @media(max-width: 650px) {
    grid-row: span 2;
  }
}

.textField {
  text-align: center;
}

.countWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.count {
  pointer-events: none;

  &::-webkit-inner-spin-button,
  ::-webkit-outer-spin-button {
    appearance: none;
  }
}

.btnsWrapper {
  display: flex;
  flex-direction: column;
}

.arrowBtn {
  background-color: inherit;
  font-size: 1.2em;
  color: #004F44;
}

.deleteBtn {
  background-color: inherit;
  font-size: 1.4em;
  transition: all 0.1s linear;

  &:hover {
    font-size: 1.6em;
  }
}